
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .dashboard-btn{
  margin-top: 2vw;
} */

/* .Logout-btn{
  margin-top:3vw;
} */


.admin-dashboard-para{
  margin-top:1vw;
  margin-left: 1.5vw;
}

.All_courses_btn{
  margin-top: 5vw;
}

.All_courses_btn button{
  margin-right: 3.7vw;
}

.courses_created_by_admin{
  margin-top: 1vw;
}

.coursehead3{
  margin-top: -0.0vw;
}

/* .courses1{
  margin-top:-0.5vw;
} */

.line{
  margin-top: 1vw;
  margin-right: 2vw;
  margin-left: 2vw;
}

.graph-container{
  margin-top: 3vw;
}

.analytics-head{
  margin-top: 1vw;
}

.analytics-head p {
  margin-top: 3vw;
  margin-left: 2vw;
}

.courses-head{
  margin-top: 1vw;
}

.courses-head p {
  margin-top: 3vw;
  margin-left: 2vw;
}