.course-panel-difficulty{
    padding: 5px;
}    

.courses1{
    margin-top: 5vw;
}

.coursehead{
    margin-left: -3vw;
}

.Courses-section-newlyadded{
    /* margin-top: 1vw; */
}

.coursehead3{
    margin-top: 3vw;
}

.All_courses_btn{
    margin-top: 2vw;
}

.All_courses_btn button{
    margin-right: 7vw;
}

